.app-download {
  margin: 100px auto;
  text-align: center;
  font-size: 28px;
  font-weight: 500;
}

.app-download h3{
  line-height: 1.6;
  margin-bottom: 30px;
}

.app-download-platforms {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.app-download-platforms img {
  width: 160px;
  max-width: 180px;
  cursor: pointer;
  transition: 0.3s;
}

.app-download-platforms img:hover {
  transform: scale(1.05);
}